<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{LABEL}}</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{NODE_PATH}}</string>
    <string>{{GATEWAY_ENTRY_PATH}}</string>
  </array>
  <key>WorkingDirectory</key>
  <string>{{WORKING_DIRECTORY}}</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>{{STANDARD_OUT_PATH}}</string>
  <key>StandardErrorPath</key>
  <string>{{STANDARD_ERROR_PATH}}</string>
</dict>
</plist>
